
  <button type="button" ><a href="/get-data">Details</a></button>
  <div class="container" >  
      <form id="contact" action="/insert" method="post">
        <h3>Home Page</h3>
        <h4>Contact us for custom quote</h4>
  <fieldset>
          <input placeholder="Your name" type="text"  name='name' required >
        </fieldset>
        <fieldset>
          <input placeholder="Your Email Address" type="email" name='email' required >
        </fieldset>
        <fieldset>
          <input placeholder="Your Phone Number (optional)" type="tel"  name='phonenumber' required >
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
        <fieldset>
          <button> <a href = "/login">Login</a></button>
        </fieldset>
        <fieldset>
          <button> <a href = "/register/register">Register</a></button>
        </fieldset>
       
        <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p>
      </form>
    </div>



    